POSTGRES_DB=django_db
POSTGRES_USER=django_user
POSTGRES_PASSWORD=troque-por-uma-senha-forte
POSTGRES_HOST=db
POSTGRES_PORT=5432

DJANGO_SECRET_KEY=troque-por-uma-chave-secreta
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,nginx,web
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8090,http://127.0.0.1:8090
